In [40]:
from main import get_data
# import gspread
import pandas as pd
import requests
import psycopg2
import os

In [41]:
from dotenv import load_dotenv

# Load the .env file
load_dotenv()

# Database connection parameters
DATABASE_URL = os.getenv('url')
print(DATABASE_URL)

# Connect to the database

conn = psycopg2.connect(DATABASE_URL)

cur = conn.cursor()

print("connected")


# ## {'2024-11-12': {'1. open': '7.6400', '2. high': '7.9900', '3. low': '7.5600', '4. close': '7.9600', '5. volume': '31154554'}

# # Create tables if they don't exist

cur.execute('''
    CREATE TABLE IF NOT EXISTS btcn_data(
    date TIMESTAMP PRIMARY KEY,
    open FLOAT,
    high FLOAT,
    low FLOAT,
    close FLOAT,
    volume VARCHAR
)
''')

print("Created")

conn.commit()
print("Committed")

postgresql://postgres:aBtefpuGNDwcBYCOhIOerlgshqHhYoRi@autorack.proxy.rlwy.net:59290/railway
connected
Created
Committed

import datetime

def save_data():
    # fetch data from api
    data = get_data()

    # transform data into dataframe with two columns: date, prices
    dates = []
    open = []
    high = []
    low = []
    close = []
    volume = []
    for date in data["Time Series (Daily)"]:
        # dates.append(date)
        dates = datetime.datetime(dates.append(date))
        open.append(data["Time Series (Daily)"][date]['1. open'])
        high.append(data["Time Series (Daily)"][date]['2. high'])
        low.append(data["Time Series (Daily)"][date]['3. low'])
        close.append(data["Time Series (Daily)"][date]['4. close'])
        volume.append(data["Time Series (Daily)"][date]['5. volume'])
    df = pd.DataFrame({ "date": dates, "open": open, "high": high, "low": low, "close": close, "volume": volume})
     
    # Insert Data to the DB table   
    cur.execute('''
        INSERT INTO btcn_data(date, open, high, low, close, volume)
        VALUES (%s, %s, %s, %s, %s, %s)
        ON CONFLICT (date) DO NOTHING
    ''', (dates, open, high, low, close, volume))

    conn.commit()
    cur.close()
    # conn.close()
    
    return "Data saved to Database successfully"

In [42]:
import datetime
import pandas as pd

def save_data():
    # fetch data from api
    data = get_data()

    # Prepare lists for each column
    dates = []
    open_prices = []
    high_prices = []
    low_prices = []
    close_prices = []
    volumes = []

    # Extract data from the API response
    for date_str in data["Time Series (Daily)"]:
        # Convert date_str to a datetime object
        date = datetime.datetime.strptime(date_str, '%Y-%m-%d')
        dates.append(date)
        open_prices.append(float(data["Time Series (Daily)"][date_str]['1. open']))
        high_prices.append(float(data["Time Series (Daily)"][date_str]['2. high']))
        low_prices.append(float(data["Time Series (Daily)"][date_str]['3. low']))
        close_prices.append(float(data["Time Series (Daily)"][date_str]['4. close']))
        volumes.append(int(data["Time Series (Daily)"][date_str]['5. volume']))

    # Convert lists into a DataFrame (optional, for verification or further processing)
    df = pd.DataFrame({
        "date": dates,
        "open": open_prices,
        "high": high_prices,
        "low": low_prices,
        "close": close_prices,
        "volume": volumes
    })

    # Insert each row individually to handle potential unique constraints
    for date, open_price, high_price, low_price, close_price, vol in zip(dates, open_prices, high_prices, low_prices, close_prices, volumes):
        cur.execute('''
            INSERT INTO btcn_data(date, open, high, low, close, volume)
            VALUES (%s, %s, %s, %s, %s, %s)
            ON CONFLICT (date) DO NOTHING
        ''', (date, open_price, high_price, low_price, close_price, vol))

    # Commit changes and close the cursor
    conn.commit()
    cur.close()
    
    return "Data saved to Database successfully"

save_data()

{'Meta Data': {'1. Information': 'Daily Prices (open, high, low, close) and Volumes', '2. Symbol': 'BTC', '3. Last Refreshed': '2024-11-13', '4. Output Size': 'Compact', '5. Time Zone': 'US/Eastern'}, 'Time Series (Daily)': {'2024-11-13': {'1. open': '7.9900', '2. high': '8.2999', '3. low': '7.9200', '4. close': '7.9700', '5. volume': '27749686'}, '2024-11-12': {'1. open': '7.6400', '2. high': '7.9900', '3. low': '7.5600', '4. close': '7.9600', '5. volume': '31154554'}, '2024-11-11': {'1. open': '7.2700', '2. high': '7.7700', '3. low': '7.2401', '4. close': '7.7300', '5. volume': '30185978'}, '2024-11-08': {'1. open': '6.7700', '2. high': '6.8700', '3. low': '6.7100', '4. close': '6.8000', '5. volume': '13026191'}, '2024-11-07': {'1. open': '6.6500', '2. high': '6.8300', '3. low': '6.6101', '4. close': '6.8000', '5. volume': '13447149'}, '2024-11-06': {'1. open': '6.5900', '2. high': '6.7900', '3. low': '6.5201', '4. close': '6.7600', '5. volume': '13814523'}, '2024-11-05': {'1. open': '6.1500', '2. high': '6.2559', '3. low': '6.0950', '4. close': '6.1600', '5. volume': '10389499'}, '2024-11-04': {'1. open': '6.0800', '2. high': '6.0995', '3. low': '5.9550', '4. close': '5.9700', '5. volume': '11595318'}, '2024-11-01': {'1. open': '6.2300', '2. high': '6.3518', '3. low': '6.0924', '4. close': '6.1400', '5. volume': '12230158'}, '2024-10-31': {'1. open': '6.3900', '2. high': '6.3900', '3. low': '6.1900', '4. close': '6.2100', '5. volume': '14148805'}, '2024-10-30': {'1. open': '6.3700', '2. high': '6.4300', '3. low': '6.3316', '4. close': '6.3700', '5. volume': '8388841'}, '2024-10-29': {'1. open': '6.3200', '2. high': '6.5393', '3. low': '6.2900', '4. close': '6.4400', '5. volume': '14295001'}, '2024-10-28': {'1. open': '6.1200', '2. high': '6.2000', '3. low': '6.0679', '4. close': '6.1700', '5. volume': '14157649'}, '2024-10-25': {'1. open': '6.0300', '2. high': '6.1095', '3. low': '5.8400', '4. close': '5.9200', '5. volume': '12811692'}, '2024-10-24': {'1. open': '6.0000', '2. high': '6.0600', '3. low': '5.9640', '4. close': '6.0600', '5. volume': '5771049'}, '2024-10-23': {'1. open': '5.9000', '2. high': '5.9300', '3. low': '5.7740', '4. close': '5.8800', '5. volume': '5817917'}, '2024-10-22': {'1. open': '5.9500', '2. high': '6.0000', '3. low': '5.9000', '4. close': '5.9800', '5. volume': '6063050'}, '2024-10-21': {'1. open': '6.0200', '2. high': '6.0300', '3. low': '5.9200', '4. close': '6.0100', '5. volume': '9505073'}, '2024-10-18': {'1. open': '6.0100', '2. high': '6.1300', '3. low': '6.0051', '4. close': '6.0800', '5. volume': '6915882'}, '2024-10-17': {'1. open': '5.9500', '2. high': '6.0078', '3. low': '5.9100', '4. close': '5.9200', '5. volume': '8568232'}, '2024-10-16': {'1. open': '6.0200', '2. high': '6.0699', '3. low': '5.9550', '4. close': '6.0100', '5. volume': '8191023'}, '2024-10-15': {'1. open': '5.8500', '2. high': '6.0363', '3. low': '5.7500', '4. close': '5.9400', '5. volume': '12672959'}, '2024-10-14': {'1. open': '5.7500', '2. high': '5.8900', '3. low': '5.7301', '4. close': '5.8500', '5. volume': '10128804'}, '2024-10-11': {'1. open': '5.4500', '2. high': '5.6300', '3. low': '5.4400', '4. close': '5.6100', '5. volume': '6388873'}, '2024-10-10': {'1. open': '5.4100', '2. high': '5.4100', '3. low': '5.2200', '4. close': '5.2900', '5. volume': '6222411'}, '2024-10-09': {'1. open': '5.4900', '2. high': '5.5300', '3. low': '5.3850', '4. close': '5.4000', '5. volume': '5868876'}, '2024-10-08': {'1. open': '5.5600', '2. high': '5.6100', '3. low': '5.4801', '4. close': '5.5200', '5. volume': '5994453'}, '2024-10-07': {'1. open': '5.6000', '2. high': '5.7200', '3. low': '5.5649', '4. close': '5.6200', '5. volume': '5076272'}, '2024-10-04': {'1. open': '5.4600', '2. high': '5.5500', '3. low': '5.3900', '4. close': '5.5400', '5. volume': '4912196'}, '2024-10-03': {'1. open': '5.3600', '2. high': '5.4200', '3. low': '5.3100', '4. close': '5.4100', '5. volume': '4979537'}, '2024-10-02': {'1. open': '5.4000', '2. high': '5.5300', '3. low': '5.3200', '4. close': '5.3400', '5. volume': '8690922'}, '2024-10-01': {'1. open': '5.6200', '2. high': '5.6300', '3. low': '5.4100', '4. close': '5.4800', '5. volume': '7668484'}, '2024-09-30': {'1. open': '5.6800', '2. high': '5.6900', '3. low': '5.5800', '4. close': '5.6300', '5. volume': '5920543'}, '2024-09-27': {'1. open': '5.8200', '2. high': '5.9100', '3. low': '5.8000', '4. close': '5.8200', '5. volume': '5665004'}, '2024-09-26': {'1. open': '5.7100', '2. high': '5.8450', '3. low': '5.6900', '4. close': '5.7400', '5. volume': '7510525'}, '2024-09-25': {'1. open': '5.6300', '2. high': '5.6800', '3. low': '5.5800', '4. close': '5.6000', '5. volume': '4241196'}, '2024-09-24': {'1. open': '5.6200', '2. high': '5.7100', '3. low': '5.5600', '4. close': '5.7100', '5. volume': '5744941'}, '2024-09-23': {'1. open': '5.6100', '2. high': '5.6600', '3. low': '5.5915', '4. close': '5.6100', '5. volume': '5207646'}, '2024-09-20': {'1. open': '5.5900', '2. high': '5.6379', '3. low': '5.5301', '4. close': '5.5800', '5. volume': '10696974'}, '2024-09-19': {'1. open': '5.6100', '2. high': '5.6700', '3. low': '5.5600', '4. close': '5.6100', '5. volume': '6630816'}, '2024-09-18': {'1. open': '5.3200', '2. high': '5.4477', '3. low': '5.2450', '4. close': '5.3300', '5. volume': '6795536'}, '2024-09-17': {'1. open': '5.2500', '2. high': '5.4450', '3. low': '5.2200', '4. close': '5.3200', '5. volume': '6191836'}, '2024-09-16': {'1. open': '5.2000', '2. high': '5.2000', '3. low': '5.1000', '4. close': '5.1400', '5. volume': '6050402'}, '2024-09-13': {'1. open': '5.1200', '2. high': '5.3300', '3. low': '5.1100', '4. close': '5.3000', '5. volume': '7051997'}, '2024-09-12': {'1. open': '5.1100', '2. high': '5.1950', '3. low': '5.0800', '4. close': '5.1700', '5. volume': '5012572'}, '2024-09-11': {'1. open': '5.0500', '2. high': '5.1499', '3. low': '4.9221', '4. close': '5.1100', '5. volume': '7519723'}, '2024-09-10': {'1. open': '5.0500', '2. high': '5.1500', '3. low': '5.0100', '4. close': '5.1400', '5. volume': '6135963'}, '2024-09-09': {'1. open': '4.9100', '2. high': '5.0750', '3. low': '4.8550', '4. close': '5.0700', '5. volume': '7264231'}, '2024-09-06': {'1. open': '5.0200', '2. high': '5.0400', '3. low': '4.7200', '4. close': '4.7500', '5. volume': '10021411'}, '2024-09-05': {'1. open': '5.0200', '2. high': '5.0800', '3. low': '4.9400', '4. close': '4.9700', '5. volume': '10241738'}, '2024-09-04': {'1. open': '5.0100', '2. high': '5.1900', '3. low': '4.9737', '4. close': '5.1500', '5. volume': '6027070'}, '2024-09-03': {'1. open': '5.2400', '2. high': '5.2500', '3. low': '5.1000', '4. close': '5.1500', '5. volume': '5396131'}, '2024-08-30': {'1. open': '5.2800', '2. high': '5.3056', '3. low': '5.1200', '4. close': '5.2000', '5. volume': '8276992'}, '2024-08-29': {'1. open': '5.3400', '2. high': '5.4284', '3. low': '5.2240', '4. close': '5.2500', '5. volume': '7080446'}, '2024-08-28': {'1. open': '5.3200', '2. high': '5.3250', '3. low': '5.1300', '4. close': '5.2300', '5. volume': '12701042'}, '2024-08-27': {'1. open': '5.5300', '2. high': '5.5495', '3. low': '5.4500', '4. close': '5.5100', '5. volume': '6943145'}, '2024-08-26': {'1. open': '5.6700', '2. high': '5.6700', '3. low': '5.5900', '4. close': '5.6100', '5. volume': '6209049'}, '2024-08-23': {'1. open': '5.4300', '2. high': '5.6699', '3. low': '5.3950', '4. close': '5.6500', '5. volume': '12388163'}, '2024-08-22': {'1. open': '5.4000', '2. high': '5.4059', '3. low': '5.3300', '4. close': '5.3400', '5. volume': '5291001'}, '2024-08-21': {'1. open': '5.2700', '2. high': '5.4700', '3. low': '5.2237', '4. close': '5.4700', '5. volume': '7710726'}, '2024-08-20': {'1. open': '5.3700', '2. high': '5.4100', '3. low': '5.1950', '4. close': '5.2800', '5. volume': '4235703'}, '2024-08-19': {'1. open': '5.2200', '2. high': '5.2601', '3. low': '5.1500', '4. close': '5.2400', '5. volume': '3103362'}, '2024-08-16': {'1. open': '5.2000', '2. high': '5.3200', '3. low': '5.1198', '4. close': '5.2900', '5. volume': '4314862'}, '2024-08-15': {'1. open': '5.2500', '2. high': '5.3100', '3. low': '5.0300', '4. close': '5.0700', '5. volume': '6240401'}, '2024-08-14': {'1. open': '5.3900', '2. high': '5.4099', '3. low': '5.2061', '4. close': '5.2200', '5. volume': '4994680'}, '2024-08-13': {'1. open': '5.2300', '2. high': '5.4650', '3. low': '5.2200', '4. close': '5.4100', '5. volume': '5349902'}, '2024-08-12': {'1. open': '5.2900', '2. high': '5.3850', '3. low': '5.1300', '4. close': '5.2400', '5. volume': '3755995'}, '2024-08-09': {'1. open': '5.3700', '2. high': '5.4250', '3. low': '5.2880', '4. close': '5.3800', '5. volume': '6640281'}, '2024-08-08': {'1. open': '5.1300', '2. high': '5.3150', '3. low': '5.0401', '4. close': '5.2700', '5. volume': '4888823'}, '2024-08-07': {'1. open': '5.0900', '2. high': '5.1099', '3. low': '4.8500', '4. close': '4.8600', '5. volume': '6339571'}, '2024-08-06': {'1. open': '4.9000', '2. high': '5.0700', '3. low': '4.8300', '4. close': '5.0500', '5. volume': '8450718'}, '2024-08-05': {'1. open': '4.4100', '2. high': '4.9300', '3. low': '4.4000', '4. close': '4.7500', '5. volume': '15705670'}, '2024-08-02': {'1. open': '5.7500', '2. high': '5.8100', '3. low': '5.5301', '4. close': '5.5600', '5. volume': '12062755'}, '2024-08-01': {'1. open': '5.7300', '2. high': '5.7600', '3. low': '5.5200', '4. close': '5.6200', '5. volume': '42822504'}, '2024-07-31': {'1. open': '5.9000', '2. high': '5.9300', '3. low': '5.7600', '4. close': '5.7897', '5. volume': '4654669'}}}

'Data saved to Database successfully'